.sidenav-container {
    height: 100vh; /* cover the full height of the viewport */
  }
  
  .sidenav {
    width: 250px; /* adjust as needed */
  }
  
  .mat-toolbar.mat-primary {
    position: sticky;
    top: 0;
    z-index: 2; /* ensure the toolbar is above the sidenav and content */
  }
  
  .content {
    background-color: #e6ecf0;
  }
  