.register-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .register-card {
    min-width: 300px;
  }
  
  .full-width {
    width: 100%;
  }
  
  .button-container {
    display: flex;
    justify-content: flex-end;
    margin-top: 10px;
  }
  
  .register-button {
    flex: 1;
  }
  